.ft {
    &-wrap {
        padding: 5rem 0;
    }
    &-flex {
        display: flex;
        justify-content:space-between;
    }
    &-list {
        display: flex;
        gap: 1rem;
        column-gap: 3rem;
    }
    &-item {
        display: flex;
        align-items:center;
        gap: 0.5rem;
        cursor: pointer;
        @include hover {
            .txt {
                text-decoration: underline;
            }
        }

        .icon {
            width: 2rem;
            height: 2rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &-col {
        &-right {
            display: flex;
            gap: 1rem;
        }
        &-txt {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            &::after {
                display: block;
                width: 4rem;
                height: 0.1rem;
                content: "";
                background: #000;
            }
        }
    }
    &-social {
        display: flex;
        gap: 1rem;
    }
}